body {
    background-color: #f1f1f1;
    color: #333;
}

.login {
    width: 380px;
    padding: 100px 10px;
    margin: auto;
}

.alert {
    margin: 0;
    padding: 0 10px;
}

.card {
    box-shadow: 0 0 10px #ffadad;
    border-radius: 0;
    margin: 30px 0;

    .card-header {
        border-bottom: 1px solid #ffbcbc;
        background-color: rgb(255, 237, 237);
        img {width: 80px;}
    }
}

.borderad {
    border-radius: 10px;
}



.form-control[readonly] {
    background: #f1f1f1;
}

.parsley-errors-list {
    color: #F00;
    list-style: none;
    margin-left: -30px;
}

#erro {
    margin-top: -15px;
}

.footer, .navbar {
    background: #FFF;
    padding: 10px 0 10px;
    box-shadow: 0 0 10px #ccc;
}





.btnsecond {
    background: rgb(240, 122, 122) !important;
    color: rgb(255, 255, 255);
    border: 0 solid black !important;
    transition: 0.3s;
}

.btnsecond:hover {
    box-shadow: 1px solid black;
    transition: 0.3s;
        background: rgb(233, 78, 78) !important;
        box-shadow: 0 0 7px rgb(218, 154, 154);
}